language: ruby
cache: bundler
install:
- script/rebund download
- bundle install --path vendor/bundle
rvm:
- 2.1.0
- 2.0.0
- 1.9.3
- 1.9.2
script: script/cibuild
after_script:
- script/rebund upload
notifications:
  irc:
    on_success: change
    on_failure: change
    channels:
    - irc.freenode.org#jekyll
    template:
    - '%{repository}#%{build_number} (%{branch}) %{message} %{build_url}'
  email:
    on_success: never
    on_failure: never
env:
  global:
  - secure: FZuO7anyiD3dURkycgYCJKY5qhm8pYDGbR5CkC4Ep+sfV7POspkjpx21T3rcRafES55HaBu9IvR9zMDp/73MLmVjmGeeEedfdp06mv+G/xZ/FnFSwMinfiYHJQ+ktkftdFurrJgueqwil7NgMG9Kqx9HydHX/zqrIYjDebVZ5lU=
  - secure: cSZX3fFP+S3zmzPJZzszLGrJQ4FGER0J4LtZOkWMve/wF3dvNpcxqKgxgDQTb4vv93fm4bKo0HDn6vAPuRE0OZjZFn5QdDXnkP0UWSYjWazTXsCpJ9mn+SscX4x1FVdgvNbntl84AqXa0Gi7nP74kOT4D4ljBvHGJ+GjtWxjXj4=
